@import '~antd/dist/antd.css';
.site-layout .site-layout-background {
  background: #fcfcfc;
}

.site-header {
  display: flex;
  justify-content: space-between;
}

.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}